@page "/"

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <h2>Hello, @context.User.Identity.Name!</h2>
        <p>You can only see this if you're authenticated.</p>
    </Authorized>
    <NotAuthorized>
        <h2>You're not logged in.</h2>
    </NotAuthorized>
</AuthorizeView>
